<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="recupera-pass">
  <template>
    <style>
      :host {
        display: block;
        gesture
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div class="container" style="margin-top:5px">
      <div class="card border-dark mb-3" style="background-color: rgb(172, 208, 255);">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6 text-center">
              <h5 class="font-weight-bold">¿Has olvidado la clave de acceso?</h5>
              </br>
              <p>Por favor, introduce tu email y te enviaremos un email para recuperar la contraseña, o contacta con
                nuestro soporte en el teléfono 900202002</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <paper-input label="Email" type="email" value="" maxlength="50" auto-validate
                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" error-message="Informar email válido">
              </paper-input>
              </br>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="buttons">
                <paper-button dialog-confirm autofocus class="btn btn-info" on-click="showErrorAccounts">Aceptar</paper-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </template>

  <script>
    class RecuperaPass extends Polymer.Element {
      static get is() { return 'recupera-pass' }
      static get properties() {
        return {
          msgerror: {
            type: String
          },
          error: {
            type: Boolean,
            value: false
          },
          msgok: {
            type: String
          },
          ok: {
            type: Boolean,
            value: false
          }
        };
      }

      showErrorAccounts(error) {
        console.log("Under construction");
        //console.log(error);
        this.dispatchEvent(
          new CustomEvent(
            "eventerror",
            {
              "detail":
              {
                "msg": "Funcionalidad disponible próximamente"
              }
            }
          )
        );
      }
    }

    window.customElements.define(RecuperaPass.is, RecuperaPass);
  </script>
</dom-module>