<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<dom-module id="hazte-cliente">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div class="container" style="margin-top: 50px">
      <paper-dialog id="confirma" class="card border-dark mb-3 text-center"
        style="margin-top:50px; background-color: rgb(172, 208, 255);" modal>
        <h2>Atención</h2>
        <p>Revise los datos introducidos, y pulse Aceptar para confirmar la operación.</p>
        <div class="buttons">
          <paper-button dialog-dismiss class="btn btn-danger" on-tap="hidespinner">Cancelar</paper-button>
          <paper-button dialog-confirm class="btn btn-info" autofocus on-tap="signin">Aceptar</paper-button>
        </div>
      </paper-dialog>
      <div class="card border-dark mb-3" style="margin-top:50px; background-color: rgb(172, 208, 255);">
        <div class="card-body">
          <h4>Alta online de cliente</h4>
          <div class="row align-items-stretch justify-content-start card-deck">
            <div class="col-lg-4">
              <paper-input id="first_name" label="Nombre" type="text" maxlength="50" value="{{first_name::input}}"
                required></paper-input>
            </div>
            <div class="col-lg-8">
              <paper-input id="last_name" label="Apellidos" type="text" maxlength="100" value="{{last_name::input}}"
                required></paper-input>
            </div>
          </div>
          <div class="row align-items-stretch justify-content-start card-deck">
            <div class="col-lg-4">
              <paper-input id="email" label="Email" type="email" value="{{email::input}}" maxlength="50" auto-validate
                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" error-message="Informar email válido">
              </paper-input>
            </div>
            <div class="col-lg-4">
              <paper-input id="phone" label="Telefono" type="phone" value="{{phone::input}}" maxlength="9" auto-validate
                pattern="[0-9]*" error-message="Informar solo números"></paper-input>
            </div>
          </div>
          <div class="row align-items-stretch justify-content-start card-deck">
            <div class="col-lg-4">
              <paper-input id="nif" label="NIF/NIE/Pasaporte" type="nif" value="{{nif::input}}" maxlength="9"
                auto-validate pattern="[0-9]{8}[A-Z]{1}" error-message="Informar NIF válido (8 digitos y letra final">
              </paper-input>
            </div>
            <div class="col-lg-4">
              <paper-input id="password" label="Clave de acceso" type="[[tipo]]" value={{password::input}}
                maxlength="8">
                <iron-icon id="toggle" icon="[[icono]]" slot="suffix" on-click="toggleview"></iron-icon>
              </paper-input>
            </div>
          </div>
          <div class="row align-items-stretch justify-content-start card-deck">
            <div class="col-lg-8">
              </br>
            </div>
          </div>
          <div class="row align-items-stretch justify-content-start card-deck">
            <div class="col-lg-8">
              <paper-button dialog-dismiss autofocus class="btn btn-info" on-click="envia">Aceptar</paper-button>
            </div>
          </div>
        </div>
      </div>
      <paper-spinner id="spin" alt="Procesando"></paper-spinner>
    </div>

    <iron-ajax id="doSignin" url="http://localhost:3000/apitechuarr9ed/users" content-type="application/json"
      method="POST" handle-as="json" on-response="manageAJAXResponse" on-error="showError">

  </template>

  <script>
    class HazteCliente extends Polymer.Element {
      static get is() { return 'hazte-cliente'; }
      static get properties() {
        return {
          nif: {
            type: String
          },
          password: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value: false
          },
          error: {
            type: Boolean,
            value: false
          },
          msgerror: {
            type: String
          },
          passVisible: {
            type: Boolean,
            value: false
          },
          tipo: {
            type: String,
            value: "password"
          },
          icono: {
            type: String,
            value: "icons:visibility"
          }
        };
      }

      manageAJAXResponse(data) {
        console.log("Hazte cliente recibida respuesta del servidor");
        this.dispatchEvent(
          new CustomEvent(
            "signinevent",
            {
              "detail": data.detail.response
            }
          )
        );
      }

      hidespinner() {
        let spinner = this.shadowRoot.getElementById('spin');
        spinner.active = false;
        spinner.hidden = true;
      }

      envia() {
        console.log("El usuario ha pulsado boton Aceptar");
        this.$.confirma.toggle();
      }

      signin() {
        var signinData = {
          "nif": this.nif,
          "first_name": this.first_name,
          "last_name": this.last_name,
          "email": this.email,
          "tlfn": this.phone,
          "password": this.password,
        };
        this.$.doSignin.body = JSON.stringify(signinData);
        //console.log(this.$.doSignin.body);
        this.$.doSignin.generateRequest();
        console.log("Pet. enviada");
        this.$.password.value = "";
        this.$.nif.value = "";
        this.$.first_name.value = "";
        this.$.last_name.value = "";
        this.$.email.value = "";
        this.$.phone.value = "";

        this.dispatchEvent(
          new CustomEvent(
            "eventok",
            {
              "detail":
              {
                "msg": "Cliente creado correctamente"
              }
            }
          )
        );
        //cleardata();

      }
      
      toggleview() {
        this.passVisible = !this.passVisible;
        this.$.password.type = this.passVisible ? 'text' : 'password';
        this.$.toggle.icon = this.passVisible ? 'icons:visibility-off' : 'icons:visibility';
      }

      showError(error) {
        console.log("Se producido un error en la llamada ajax (hazte-cliente)");
        //console.log(error);
        this.dispatchEvent(
          new CustomEvent(
            "eventerror",
            {
              "detail":
              {
                "msg": "Error en el alta de ciente"
              }
            }
          )
        );
      }
    }

    window.customElements.define(HazteCliente.is, HazteCliente);
  </script>
</dom-module>