<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div class="container" style="margin-top:50px">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <div class="card border-dark mb-3" style="margin-top:50px; background-color: rgb(172, 208, 255);">
            <div class="card-body">
              <h4>Entra en tu banca online</h4>
              <div>
                <paper-input id="nif" label="Usuario (Nif/Nie/Pasaporte)" type="text" value="{{nif::input}}">
                </paper-input>
              </div>
              <div>
                <paper-input id="password" label="Clave de acceso" type="[[tipo]]" value={{password::input}}>
                  <iron-icon id="toggle" icon="[[icono]]" slot="suffix" on-click="toggleview"></iron-icon>
                </paper-input>
              </div>
              <div class="buttons">
                <paper-button dialog-confirm autofocus class="btn btn-info" 
                    on-click="login">Entrar
                </paper-button>
                <paper-button dialog-dismiss class="btn btn-sm" 
                    on-click="recuperaPass">¿Olvidaste tu clave de acceso?
                </paper-button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>

    <iron-ajax id="doLogin" url="http://localhost:3000/apitechuarr9ed/login" 
    content-type="application/json"
    method="PUT" handle-as="json" 
    on-response="manageAJAXResponse" on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          password: {
            type: String
          },
          nif: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value: false
          },
          error: {
            type: Boolean,
            value: false
          },
          passVisible: {
            type: Boolean,
            value: false
          },
          tipo: {
            type: String,
            value: "password"
          },
          icono: {
            type: String,
            value: "icons:visibility"
          }
        };
      }

      toggleview() {
        this.passVisible = !this.passVisible;
        this.$.password.type = this.passVisible ? 'text' : 'password';
        this.$.toggle.icon = this.passVisible ? 'icons:visibility-off' : 'icons:visibility';
      }

      recuperaPass() {
        console.log("pulsado boton recupera contraseña");
        this.dispatchEvent(
          new CustomEvent(
            "recuperapassevent"
          )
        )
      }

      login() {
        console.log("pulsado el botón Entrar");

        var loginData = {
          "nif": this.nif,
          "password": this.password
        };

        //console.log(loginData);
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("login-usuario Petición enviada");
      }

      manageAJAXResponse(data) {
        console.log("Login recibida respuesta del servidor");
        //console.log(data.detail.response);
        this.dispatchEvent(
          new CustomEvent(
            "loginevent",
            {
              "detail": data.detail.response
            }
          )
        );
      }

      showError(event) {
        console.log("Se producido un error en la llamada ajax de login");
        //console.log(event);
        this.dispatchEvent(
          new CustomEvent(
            "eventerror",
            {
              "detail":
              {
                "msg": "Usuario no autenticado"
              }
            }
          )
        );
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>