<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../posicion-global/posicion-global.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../hazte-cliente/hazte-cliente.html">
<link rel="import" href="../movimientos-cuenta/movimientos-cuenta.html">
<link rel="import" href="../recupera-pass/recupera-pass.html">

<dom-module id="gestor-bus">
  <template>
    <style>
      :host {
        display: block;

      }

      #selectorfrm {
        width: 60%
      }

      .navbar-custom {
        color: #000000;
        background-color: rgb(172, 208, 255);
        border-bottom: 1px solid black;
      }

      .navbar-link {
        color: #000000;
        background-color: rgb(172, 208, 255);
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <nav class="navbar navbar-expand-md navbar-custom">
      <a class="navbar-brand navbar-link" href="#">Garmadon Bank</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="mname" class="nav-item" style="display:none">
        <p class="navbar-brand navbar-link" href="#">Bienvenid@ [[first_name]]!</p>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li id="mhazte" class="nav-item">
            <paper-button class="btn btn-danger" on-click="showHazte">Hazte Cliente</paper-button>
          </li>
          <li id="mlogin" class="nav-item active">
            <paper-button class="btn btn-info" on-click="showLogin">Entrar</paper-button>
          </li>
          <li id="mlogout" class="nav-item" style="display:none">
            <paper-button class="btn btn-danger" on-click="logout">Salir</paper-button>
          </li>
        </ul>
      </div>
    </nav>
    <div id="mtiempo" class="nav-item" style="display:none; color:white; background-color: black">
        <p class="nav-item" href="#">Temperatura Hoy [[tempActual]]&#176;C (Max [[tempMax]]&#176;C - Min [[tempMin]]&#176;C)</p>
    </div>
    <div class="alert alert-danger mw-25" role="alert" hidden$="{{!error}}">[[msgerror]]</div>
    <div class="alert alert-success mw-25" role="success" hidden$="{{!ok}}">[[msgok]]</div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <iron-pages id="selectorfrm" selected="[[componentName]]" attr-for-selected="component-name">
          <div component-name="posicion-global">
            <posicion-global id="posicionglobal" on-listmovementevent="processMovements" on-eventok="processOkEvent"
              on-eventerror="processErrorEvent">
            </posicion-global>
          </div>
          <div component-name="hazte-cliente">
            <hazte-cliente on-signinevent="processSignin" on-eventok="processOkEvent"
              on-eventerror="processErrorEvent">
            </hazte-cliente>
          </div>
          <div component-name="movimientos-cuenta">
            <movimientos-cuenta id="movimientoscuenta" on-backglobalpos="processBackGlobalPos"
              on-eventok="processOkEvent" on-eventerror="processErrorEvent">
            </movimientos-cuenta>
          </div>
          <div component-name="login-usuario">
            <login-usuario id="login" on-loginevent="processLogin" on-recuperapassevent="processMailPage"
              on-eventerror="processErrorEvent">
            </login-usuario>
          </div>
          <div component-name="recupera-pass">
            <recupera-pass id="recuperapass" on-eventerror="processErrorEvent">
            </recupera-pass>
          </div>
        </iron-pages>
      </div>
    </div>

    <iron-ajax id="doLogout" url="http://localhost:3000/apitechuarr9ed/logout" content-type="application/json"
      method="PUT" handle-as="json" on-response="manageAJAXLogout" on-error="showErrorLogout">

      <iron-ajax id="getWeather" url="http://localhost:3000/apitechuarr9ed/weather" content-type="application/json"
        method="GET" handle-as="json" on-response="showGetWeather" on-error="showErrorWeather">

  </template>
  <script>

    /**
     * @customElement
     * @polymer
     */
    class GestorBus extends Polymer.GestureEventListeners(Polymer.Element) {
      static get is() { return 'gestor-bus'; }
      static get properties() {
        return {
          componentName: {
            type: String,
            value: "vacio"
          },
          uid: {
            type: Number
          },
          acid: {
            type: Number
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          error: {
            type: Boolean,
            value: false
          },
          ok: {
            type: Boolean,
            value: false
          },
          msgerror: {
            type: String,
            value: ""
          },
          msgok: {
            type: String,
            value: ""
          },
          tempActual: {
            type: String,
            value: ""
          },
          tempMax: {
            type: String,
            value: ""
          },
          tempMin: {
            type: String,
            value: ""
          }
        }
      }

      showLogin(e) {
        console.log("muestra login");
        this.$.login.nif = "";
        this.$.login.password = "";
        this.$.getWeather.generateRequest();
        this.componentName = "login-usuario";
      }

      showGetWeather(data) {
        console.log("showGetWeather");
        //console.log(data.detail.response.list[0].main.temp);
        this.tempActual = data.detail.response.list[0].main.temp;
        this.tempMin = data.detail.response.list[0].main.temp_min;
        this.tempMax = data.detail.response.list[0].main.temp_max;
        this.$.mtiempo.style.display = "block";
      }

      showHazte(e) {
        console.log("muestra hazte");
        this.componentName = "hazte-cliente";
      }

      processLogin(e) {
        console.log("capturado eventos emisor login ");
        this.$.posicionglobal.uid = e.detail.uid;
        this.$.posicionglobal.recarga = true;
        this.uid = e.detail.uid;
        //console.log(e.detail.uid);
        this.first_name = e.detail.first_name;
        this.componentName = "posicion-global";
        this.$.mlogin.style.display = "none";
        this.$.mhazte.style.display = "none";
        this.$.mlogout.style.display = "block";
        this.$.mname.style.display = "block";
      }


      processErrorEvent(e) {
        console.log("Error en evento");
        this.error = true;
        this.msgerror = e.detail.msg;
        window.setTimeout(function () {
          this.error = false;
          this.msgerror = "";
        }.bind(this), 5000);
      }

      processOkEvent(e) {
        this.ok = true;
        this.msgok = e.detail.msg;
        window.setInterval(function () {
          this.ok = false;
          this.msgok = "";
        }.bind(this), 5000);
      }

      processMailPage() {
        console.log("capturado eventos del boton recupera contraseña de login");
        this.componentName = "recupera-pass";
      }

      processBackGlobalPos(e) {
        console.log("capturado eventos del boton volver desde movimientos");
        this.$.posicionglobal.uid = e.detail.uid;
        this.$.posicionglobal.recarga = true;
        console.log("processBackGlobalPos uid");
        //console.log(e.detail.uid);

        this.componentName = "posicion-global";
      }

      processSignin(e) {
        console.log("capturado eventos del emisor hazte cliente ");
        this.$.mlogin.style.display = "block";
        this.$.mhazte.style.display = "block";
        this.$.mlogout.style.display = "none";
        this.$.mname.style.display = "none";
      }

      processLoginPage() {
        console.log("capturado eventos del emisor recupera pass");
        this.componentName = "login-usuario";
      }

      processMovements(e) {
        console.log("capturado eventos del emisor para listar movimientos");
        this.$.movimientoscuenta.iban = e.detail.iban;
        this.$.movimientoscuenta.balance = e.detail.balance;
        this.$.movimientoscuenta.uid = e.detail.uid;
        this.$.movimientoscuenta.acid = e.detail.acid;
        this.$.movimientoscuenta.recarga = true;
        console.log("processMovements acid");
        //console.log(e.detail.acid);

        this.componentName = "movimientos-cuenta";
      }

      logout() {
        console.log("El usuario ha pulsado el botón salir");
        var logoutData = {
          "uid": this.$.posicionglobal.uid
        };
        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();
        this.uid = 0;
        this.acid = 0;
        this.first_name = "";
        this.last_name = "";
        console.log("Petición enviada logout");
      }

      manageAJAXLogout(data) {
        console.log("Recibida respuesta del servidor por logout");
        this.componentName = "gestor-bus";
        this.$.mlogin.style.display = "block";
        this.$.mhazte.style.display = "block";
        this.$.mlogout.style.display = "none";
        this.$.mname.style.display = "none";
        this.$.mtiempo.style.display = "none";
        var evento = {
          "detail":
          {
            "msg": "Hasta pronto!!!"
          }
        };

        this.processOkEvent(evento);
      }

      showErrorLogout(error) {
        console.log("Hubo un error en el logout");
        //console.log(error);
        var evento = {
          "detail":
          {
            "msg": "Error en logout"
          }
        };
        this.processErrorEvent(evento);
      }

      showErrorWeather(error) {
        console.log("Hubo un error en getWeather");
        //console.log(error);
        var evento = {
          "detail":
          {
            "msg": "No se pudo leer el tiempo"
          }
        };
        this.processErrorEvent(evento);
      }
    }

    window.customElements.define(GestorBus.is, GestorBus);
  </script>