<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="posicion-global">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <paper-dialog id="dialogaddaccount" class="card border-dark mb-3 text-center"
      style="margin-top:50px; background-color: rgb(172, 208, 255);" modal>
      <h2>Atención</h2>
      <p>Pulse Aceptar para confirmar la contratación de una nueva cuenta</p>
      <div class="buttons">
        <paper-button dialog-dismiss class="btn btn-danger">Cancelar</paper-button>
        <paper-button dialog-confirm class="btn btn-info" autofocus on-click="_onAcceptNewAccount">Aceptar
        </paper-button>
      </div>
    </paper-dialog>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card border-dark mb-3">
            <div class="card-header">
              <h2 class="font-weight-bold">Posición Global</h2>
            </div>
            <div class="">
              <simple-material-table id="demo" title="Cuentas" columns="{{columns}}" table-data="{{_tableData}}"
                on-row-selected="_onRowSelected" on-action-add="_onActionAdd" show-action-add>
              </simple-material-table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Datos de las cuentas del cliente logado-->
    <iron-ajax id="getUserAccounts" method="GET" 
      url="http://localhost:3000/apitechuarr9ed/accounts/{{uid}}"
      content-type="application/json" handle-as="json" 
      on-response="showDataAccounts" on-error="showErrorAccounts">

      <!--Creacion de cuenta-->
      <iron-ajax id="addUserAccounts" method="POST" 
        url="http://localhost:3000/apitechuarr9ed/accounts"
        content-type="application/json" handle-as="json" 
        on-response="showAddDataAccounts" on-error="showErrorAddAccounts">
  </template>

  <script>
    class PosicionGlobal extends Polymer.Element {
      static get is() { return 'posicion-global'; }

      static get properties() {
        return {
          iban: {
            type: String
          },
          uid: {
            type: Number,
            observer: '_uidChanged'
          },
          acid: {
            type: Number
          },
          recarga: {
            type: Boolean,
            value: false,
            observer: '_recargaChanged'
          }
        };
      }

      _uidChanged(newValue, oldValue) {
        //console.log("uidChanged new: " + newValue + " old: " + oldValue)
        //if (newValue != oldValue) {
          //console.log(this.uid);
          if (this.uid > 0) {
            this.$.getUserAccounts.generateRequest();
          }
        //}        
      }      

      _recargaChanged(newValue, oldValue) {
          //console.log("_recargaChanged new: " + newValue + " old: " + oldValue);
          //console.log(this.uid);
          if(this.uid > 0) {
            if (recarga){
              this.$.getUserAccounts.generateRequest();
              recarga = false;
            }            
          }
      }   
      

      _onRowSelected(row) {
        console.log("Click sobre una row cuenta navega a movtos");
        //console.log("_onRowSelected: iban" + row.detail.iban + " uid:" + this.uid + " acid:" + row.detail.id + " balance:" + row.detail.balance);
        this.sendEventListMovements(row.detail.iban, row.detail.balance, row.detail.acid);
      }

      sendEventListMovements(iban, balance, acid) {
        console.log("Pulsado boton listar movimientos de cuenta");
        this.acid = acid;
        this.iban = iban;
        //console.log("sendEventMvtos: iban" + iban + " uid:" + this.uid + " acid:" + this.acid + " balance:" + balance);
        
        this.dispatchEvent(
          new CustomEvent(
            "listmovementevent",
            {
              "detail":
              {
                "acid": this.acid                
              }
            }
          )
        );
      }

      sendEventListMovements(iban, balance, acid) {
        console.log("Pulsado boton listar movimientos de cuenta");
        //console.log("sendEventMvtos: iban" + iban + " uid:" + this.uid + " acid:" + acid + " balance:" + balance);
        this.acid = acid;
        this.iban = iban;

        this.dispatchEvent(
          new CustomEvent(
            "listmovementevent",
            {
              "detail":
              {
                "iban": this.iban,
                "uid": this.uid,
                "acid": this.acid,
                "balance": balance
              }
            }
          )
        );
      }

      _onAcceptNewAccount(evento) {
        console.log("El usuario ha pulsado el botón aceptar del dialogo de alta");
        var addAccount = {
          "uid": this.uid
        };
        //console.log("_onAcceptNewAccount uid: " + this.uid);
        this.$.addUserAccounts.body = JSON.stringify(addAccount);
        this.$.addUserAccounts.generateRequest();
      }

      //Muestra confirmacion de alta de cuenta
      _onActionAdd(evento) {
        //console.log(evento);
        console.log("Pulsado añadir cuenta");
        this.$.dialogaddaccount.open();
      }

      showAddDataAccounts(data) {
        console.log("Recibida respuesta del alta de cuenta");
        this.$.getUserAccounts.generateRequest();
        this.dispatchEvent(
          new CustomEvent(
            "eventok",
            {
              "detail":
              {
                "msg": "Cuenta contratada correctamente"
              }
            }
          )
        );
      }

      showErrorAddAccounts(error) {
        console.log("Hubo un error al dar de alta la cuenta");
        //console.log(error);
        this.dispatchEvent(
          new CustomEvent(
            "eventerror",
            {
              "detail":
              {
                "msg": "Error en la contratación de cuentas"
              }
            }
          )
        );
      }

      showDataAccounts(data) {
        console.log("muestra cuentas de usuario");
        //console.log(data.detail.response);
        this._tableData = data.detail.response;
        this.$.constructor();
        console.log("salida de cuentas");
      }

      showErrorAccounts(error) {
        console.log("Error al buscar cuentas");
        //console.log(error);
        this.dispatchEvent(
          new CustomEvent(
            "eventerror",
            {
              "detail":
              {
                "msg": "Error al obtener cuentas"
              }
            }
          )
        );
      }

      constructor() {
        super();
        console.log("Cabecera de la tabla");
        this.columns = [{
          title: "IBAN",
          number: false,
          column: 'iban',
          hidden: false
        }, {
          title: "SALDO",
          number: true,
          column: 'balance',
          formatter: function (balance) {
            return new Intl.NumberFormat("es-ES").format(balance)
          },
          hidden: false
        }, {
          title: "ACID",
          number: false,
          column: 'acid',
          hidden: true
        }
        ];

        this._tableData = [];
        window.setInterval(function () {
          for (var i = 0; i < this._tableData.length; i++) {
            this.set(['_tableData', i, 'value'], this._tableData[i].value + 0.10);
          }
        }.bind(this), 200);

      }
    }

    window.customElements.define(PosicionGlobal.is, PosicionGlobal);
  </script>
</dom-module>