<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<dom-module id="movimientos-cuenta">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <paper-dialog id="dialogaddmovement" class="card border-dark mb-3 text-center"
      style="margin-top:50px; background-color: rgb(172, 208, 255);" modal>
      <h2 id="labeltipo">Tipo de movimiento</h2>
      <paper-radio-group id="tipo" selected="ABONO" attr-for-selected="name" aria-labelledby="labeltipo"
        on-iron-select="_selectionChanged">
        <paper-radio-button name="ABONO" value="ABONO">Abono</paper-radio-button>
        <paper-radio-button name="CARGO" value="CARGO">Cargo</paper-radio-button>
      </paper-radio-group>
      <paper-input id="importe" label="Importe" type="number" value={{importe}} maxlength="9" auto-validate
        pattern="[0-9]*" error-message="Informar solo números"></paper-input>
      <div class="buttons">
        <paper-button dialog-dismiss class="btn btn-danger" on-click="_onCancelNewMovement">Cancelar</paper-button>
        <paper-button dialog-confirm class="btn btn-info" autofocus on-click="_onAcceptNewMovement">Aceptar
        </paper-button>
      </div>
    </paper-dialog>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card border-dark mb-3">
            <div class="card-header">
              <h6 class="font-weight-bold">IBAN: {{iban}}</h6>
              <h6 id="balance" class="font-weight-bold">Saldo: {{balance}}</h6>
            </div>
            <div class="">
              <simple-material-table id="demo" title="Movimientos de la cuenta" columns="{{columns}}"
                table-data="{{_tableData}}" on-action-add="_onActionAdd" on-action-delete="_onActionDelete"
                show-action-add>
              </simple-material-table>
            </div>
            <div class="card-footer font-weight-bold">
              <paper-button on-click="backGlobalPos">Volver a Posición Global</paper-button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <iron-ajax id="getUserMovements" method="GET" url="http://localhost:3000/apitechuarr9ed/movements/{{acid}}"
      content-type="application/json" handle-as="json" on-response="showDataMovements" on-error="showErrorMovements">

      <iron-ajax id="addAccountMovements" method="POST" url="http://localhost:3000/apitechuarr9ed/movements"
        content-type="application/json" handle-as="json" on-response="showAddMovements"
        on-error="showErrorAddMovements">
  </template>

  <script>
    class MovimientosCuenta extends Polymer.Element {
      static get is() { return 'movimientos-cuenta'; }

      static get properties() {
        return {
          iban: {
            type: String,
            observer: '_userIbanChanged'
          },
          uid: {
            type: Number,
          },
          acid: {
            type: Number,
          },
          balance: {
            type: Number
          },
          tipo: {
            type: String,
          },
          importe: {
            type: Number,
          },
          recarga: {
            type: Boolean,
            value: false,
            observer: '_recargaChanged'
          },
        };
      }

      _userIbanChanged(newValue, oldValue) {
        //console.log("_recargaChanged new: " + newValue + " old: " + oldValue);

        //console.log(this.acid);
        if (this.acid > 0) {
          this.$.getUserMovements.generateRequest();
        }

      }

      _recargaChanged(newValue, oldValue) {
        console.log("_recargaChanged new: " + newValue + " old: " + oldValue);
        //console.log(this.acid);
        recarga = false;
        if (this.acid > 0) {
          this.$.getUserMovements.generateRequest();
        }
      }

      _selectionChanged(e) {
        this.tipo = e.detail.item.name;
      }

      //Vuelta a la posicion global
      backGlobalPos() {
        console.log("Vuelta a la posicion global");
        this.dispatchEvent(
          new CustomEvent(
            "backglobalpos",
            {
              "detail":
              {
                "uid": this.uid,
                "recarga": true
              }
            }
          )
        );//main dispatch event
      }

      showDataMovements(data) {
        console.log("muestra movimientos de usuario");
        //console.log(data.detail.response);
        this._tableData = data.detail.response;
        //console.log(this._tableData);
        this.$.constructor();
      }

      showErrorMovements(error) {
        console.log("Error al buscar los movimientos");
        //console.log(error);
        this.dispatchEvent(
          new CustomEvent(
            "eventerror",
            {
              "detail":
              {
                "msg": "Error al buscar los movimientos"
              }
            }
          )
        );

      }

      constructor() {
        super();
        this.columns = [{
          title: "ACID",
          number: true,
          column: 'acid',
          hidden: true
        }, {
          title: "TIPO MOVIMIENTO",
          number: false,
          column: 'tipo',
          hidden: false
        }, {
          title: "IMPORTE",
          number: true,
          column: 'importe',
          formatter: function (importe) {
            return Intl.NumberFormat("es-ES").format(importe);
          },
          hidden: false
        }
        ];

        this._tableData = [];
        window.setInterval(function () {
          for (var i = 0; i < this._tableData.length; i++) {
            this.set(['_tableData', i, 'value'], this._tableData[i].value + 0.10);
          }
        }.bind(this), 1000);
      }

      showAddMovements(data) {
        console.log("Recibida respuesta del alta de movimientos");
        //console.log(data.detail.response.newBalance);
        this.balance = data.detail.response.newBalance;
        this.$.getUserMovements.generateRequest();
        this.dispatchEvent(
          new CustomEvent(
            "eventok",
            {
              "detail":
              {
                "msg": "Movimiento creado correctamente"
              }
            }
          )
        );
      }

      showErrorAddMovements(error) {
        console.log("Hubo un error al dar de alta el movimiento");
        //console.log(error);
        this.dispatchEvent(
          new CustomEvent(
            "eventerror",
            {
              "detail":
              {
                "msg": "Error en el alta de movimiento"
              }
            }
          )
        );
      }

      _onCancelNewMovement(evento) {
        this.importe = 0;
        this.tipo = "";
        this.$.importe = 0;
      }

      _onAcceptNewMovement(evento) {
        console.log("El usuario ha pulsado el botón add movimientos");
        //console.log("acid:" + this.acid + " tipo:" + this.tipo + " importe:" + this.importe);
        var addAccountMovements = {
          "acid": this.acid,
          "tipo": this.tipo,
          "importe": this.importe
        };
        this.$.addAccountMovements.body = JSON.stringify(addAccountMovements);
        this.$.addAccountMovements.generateRequest();
        console.log("Petición enviada");

      }

      _onActionAdd(evento) {
        console.log("abre dialogo movtos");
        this.$.dialogaddmovement.open();
      }
    }
    
    window.customElements.define(MovimientosCuenta.is, MovimientosCuenta);
  </script>
</dom-module>